<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EsriNL.ProLogger.Properties.ProLoggerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EsriNL.ProLogger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EsriNL.ProLogger.Properties.ProLoggerSettings>
            <setting name="SaveToLogFileSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilePathSetting" serializeAs="String">
                <value>D:\Temp\Logging\EsriNL_Pro_Logger_[date].log</value>
            </setting>
        </EsriNL.ProLogger.Properties.ProLoggerSettings>
        <EsriNL.ProLogger.Settings>
            <setting name="GeneralSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </EsriNL.ProLogger.Settings>
    </userSettings>
</configuration>